#wanted {
    background-image: url(../../assets/Ink/wanted-poster.png);
    width: 100vh;
    height: 135%;
    background-size: contain;
    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    transform: rotate(-9deg);
    transform: rotate3d(1,1,1, -20deg); 
    z-index: 1;
    
    

}

.wrapper7{
    background: transparent;
    height: 100%;
}



.wrapper8{
    background: transparent;
    height: 100%;
    overflow: hidden;
}

.wrapper9{
    background: transparent;
    height: 100%;
}

#main{
    background-image: url(../../assets/Ink/ink1/main.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}
#main::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top,transparent,black);
    z-index: 200;

}

#left-hel
{
    background-image: url(../../assets/Ink/ink1/left-hel.png);
    width: 100%;
    height: 100%;
    background-size: cover;

}

#in-hel
{
    background-image: url(../../assets/Ink/ink1/in-hel.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    transition-timing-function: ease-out;
}
#out-hel
{
    background-image: url(../../assets/Ink/ink1/out-hel.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    transition-timing-function: ease-out;
}


#down-hel
{
    background-image: url(../../assets/Ink/ink1/down-hel.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    transition-timing-function: ease-out;
}




#back
{
    background-image: url(../../assets/Ink/ink2/back.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: saturate(0.3);
}


#foreground-ink2
{
    background-image: url(../../assets/Ink/ink2/foreground.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: saturate(0.55);
    
}

#hair
{
    background-image: url(../../assets/Ink/ink2/hair.gif);
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
    background-size: cover;
    filter: saturate(0);
}
#jesus
{
    background-image: url(../../assets/Ink/ink2/jesus.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: saturate(0);
}
#sword
{
    background-image: url(../../assets/Ink/ink2/sword.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: saturate(0);
}

.transition-ink2::after
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top,black, transparent);
    z-index: 200;
}

.transition-ink1::after
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(to top,black, transparent);
    z-index: 200;
}


.nd{
    height: 100vh;
    z-index: 10;
    background-color: black;
  
  }


.Ink2-txt
{   
    
    margin-top: 20%;
    margin-left: 10%;
    text-transform: uppercase;
    margin-bottom: 0;
    position: absolute;
    color: white;
    font-size: 10em;
    opacity: 50%;

    font-family: 'EldenRing';
    display: block;

}

.InkB-txt
{   
    
    margin-top: 10%;
    margin-left: 53%;
    
    margin-bottom: 0;
    position: absolute;
    color: white;
    font-size: 3.3em;
    /* font-style: italic; */

    font-family: 'EldenRing';
    display: block;
    z-index: 10;
    transform: rotate(-9deg);
    filter: drop-shadow(0 0 1rem rgb(238, 230, 139));
}

.InkB-txt2
{   
    
    margin-top: 25%;
    margin-left: 53%;
    
    margin-bottom: 0;
    position: absolute;
    color: white;
    font-size: 2.8em;
    font-style: italic;

    font-family: 'EldenRing';
    display: block;
    transform: rotate(-9deg);
    z-index: 10;
    filter: drop-shadow(0 0 1rem rgb(238, 230, 139));

}


.InkB-txt3
{   
    
    margin-top: 40%;
    margin-left: 53%;
    
    margin-bottom: 0;
    position: absolute;
    color: white;
    font-size: 2.8em;
    font-style: italic;

    font-family: 'EldenRing';
    display: block;
    transform: rotate(-9deg);
    z-index: 10;
    filter: drop-shadow(0 0 1rem rgb(238, 230, 139));

}


#art{
    background-image: url(../../assets/Ink/inkArt/20230227225555_1.jpg);
    width: 90%;
    height: 70%;
    margin-left: 5%;
    /* background-size: contain; */
    background-position-y: bottom;
    
}

#art2{
    background-image: url(../../assets/Ink/inkArt/mvart2.jpg);
    width: 50%;
    height: 50%;
    margin-left: 10%;
    margin-top: 42%;
    background-position-x: 200%;
    background-position-y: top;
    

    
}

#art3{
    color: azure;
    width: 30%;
    height: 80%;
    margin-left: 62%;
    margin-top: 41%;
    font-family: 'EldenRing';

    
}
.middle{
    margin: 0;
    font-size: 1.5em;
}

.middle2{
    margin: 0;
    font-size: 1.3em;
}


#art4{
    background-image: url(../../assets/Ink/inkArt/slash.jpg);
    width: 70%;
    height: 70%;
    margin-left: 5%;
    margin-top: 80%;
    background-position-x: 100%;
    background-position-y: bottom;
    
    
}

#art5{
    color: azure;
    width: 30%;
    height: 80%;
    margin-left: 8%;
    margin-top: 120%;
    font-family: 'EldenRing';

    
}

#model1{
    background-image: url(../../assets/Ink/inkArt/My\ project.png);
    width: 70%;
    height: 70%;
    margin-left: 32%;
    margin-top: 108%;
    background-position-x: 100%;
    background-position-y: bottom;
    filter: saturate(0.5);
    
    
}

#model2{
    background-image: url(../../assets/Ink/inkArt/My\ project\ \(1\).png);
    width: 70%;
    height: 70%;
    margin-left: 18%;
    margin-top: 108%;
    background-position-x: 100%;
    background-position-y: bottom;
    filter: saturate(0.5);
    
    
}

#mv{
    background-image: url(../../assets/Ink/inkArt/moonveil2.png);
    width: 100%;
    height: 100%;
    
    transform: rotate(40deg);
    margin-left: 25%;
    margin-top: 73%;
    background-position-x: 100%;
    background-position-y: bottom;
    filter: saturate(0.5);
    background-size: contain;
    /* transform: rotate(-40deg); */
    
    
}

#artb{

    height: 100%;
    width: 100%;
    background-color: aqua;
}

.wrapper10{
    background: transparent;
    height: 100%;
    
    
    
}