@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

*
{
    scroll-behavior: smooth;
    
}
.block
{
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
}
.block::after
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,black, transparent);
    z-index: 200;
}
.Main {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

    background-repeat: no-repeat;
    
    
    
}

.sec
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sec img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: saturate(0);
}
.sec #logo
{   
    
    width: 100%;
    height: 75%;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem rgb(238, 230, 139));
    backdrop-filter: blur(1px) saturate(1);
}

.sec #foreground
{
    z-index: 100;
    
}
.sec #character
{
    z-index: 100;
    

}
.sec #cape
{
    z-index: 100;
    
}




/* @keyframes capemove {
    0% {
        transform: rotateX(2deg) rotateY(0deg) translateZ(0px);
      }
      100% {   
        transform: rotateX(2deg + 180deg) rotateY(360deg) translateZ(0px);
      }
} */




.first-img
{

    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    

}

.clouds
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud 
{
    position: absolute;
    bottom: 0;
    
    max-width: 100%;

    animation: cloudmove calc(8s * var(--i)) linear infinite;
}
.clouds #c1
{
    opacity: 15%;
    z-index: 101;
}
.clouds #c2
{
    opacity: 25%;
    z-index: 101;
}

.clouds #c3
{
    opacity: 15%;
    z-index: 99;
}





@keyframes cloudmove {
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

.first-txt {
    position: absolute;
    font-family: 'EldenRing';
    /* font-family: 'Gentium Book Plus', serif; */
    /* font-family: 'Gambetta', serif; */
    top: 170px;
    font-size: 8em;
    
    text-transform: capitalize;
    letter-spacing: 5px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    margin-bottom: 0.8rem;
    
    background: -webkit-linear-gradient(rgb(215, 206, 132), #214847);
    
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0 0 0.75rem rgb(238, 230, 139));
    backdrop-filter: blur(1px) saturate(1);
    

    background-image: url('../../assets/EldenMain/fonttexture.jpg'); /* Change URL to texture file name */
    background-repeat: repeat;
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  
    
}

.first-txt:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 10px;
}

@font-face {
    font-family: "EldenRing";
    src: local('MantiniaRegular'),
    url('../../assets/Mantinia Regular/MantiniaRegular.otf') format("otf");
}



