*
{
    scroll-behavior: smooth;
    
}

.block-int{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    display: block;
    height: 100vh;

}


.Main-int
{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: block;
    
    
}







.margit-txt
{   
    position: absolute;
    display: inline-block;
    color: white;
    
    margin-top: 30%;
    margin-left: 5%;
    
    z-index: 3;

    font-family: 'EldenRing';

    text-transform: capitalize;
    letter-spacing: 5px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    font-size: 2.5em;
    font-style: italic;
    overflow-y: hidden;
    
}

.Intro-txt
{   
    padding-top: 13%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 0%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    position: absolute;
    color: white;
    font-size: 5em;
    font-family: 'EldenRing';
    display: block;

}

.margit
{   
    position: absolute;
    
    width: 100%;
    height: 100%;
}

