.nd{
    height: 100vh;
    z-index: 10;
    background-color: black;
  
  }

.Intro-txt
{   
    padding-top: 13%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 0%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    position: absolute;
    color: white;
    font-size: 5em;
    font-family: 'EldenRing';
    display: block;

}

.wrapper2{
    background: transparent;
    height: 100%;
}












