
#Malenia-Back
{
    background-image: url(../../assets/malenia/back.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

#Malenia
{
    background-image: url(../../assets/malenia/malenia.png);
    width: 100%;
    height: 100%;
    background-size: cover;

}

#Helmet
{
    background-image: url(../../assets/malenia/helmet.png);
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#arm
{
    background-image: url(../../assets/malenia/arm.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}
#leaf
{   
    background-image: url(../../assets/malenia/leaf_fall_1.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 20%;
    

}
.hot-txt
{
    position: absolute;
    display: inline-block;
    color: white;
    
    margin-top: 15%;
    margin-left: 60%;
    
    z-index: 3;

    font-family: 'EldenRing';

    text-transform: capitalize;
    letter-spacing: 7px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    font-size: 6em;
    
    overflow-y: hidden;
}

.wrapper5{
    background: transparent;
    height: 100%;
}